/* transform, transition, box-shadow */

body {
  background-color: antiquewhite;
}

.button {
  background-color: aqua;
  margin-left: 100px;
  margin-top: 100px;
  height: 100px;
  width: 240px;
  font-size: 50px;
  cursor: pointer;
  justify-content: center;
  box-shadow: 10px 10px 5px rgb(65, 61, 61);
  border-radius: 13px;
  transition-duration: 1s;
}

p {
  text-align: center;
  line-height: 95px;
}

.button:hover {
  /* transform: scaleX(10px) scaleY(10px); */
  /* transform: scale3d(1.1, 1.1, 0.3); */
  transform: translate(-10px, -10px);
  box-shadow: 20px 20px 10px rgb(65, 61, 61);
}

.button:active {
  transform: translate(10px, 10px);
  box-shadow: 0px 0px 0px rgb(65, 61, 61);
  transition-duration: 300ms;
}
